[submodule "filter/poodll"]
	path = filter/poodll
	url = https://github.com/justinhunt/moodle-filter_poodll.git
	branch = poodll3
[submodule "mod/assign/submission/onlinepoodll"]
	path = mod/assign/submission/onlinepoodll
	url = https://github.com/justinhunt/moodle-assign_submission_onlinepoodll.git
	branch = poodll3
[submodule "mod/assign/feedback/poodll"]
	path = mod/assign/feedback/poodll
	url = https://github.com/justinhunt/moodle-assignfeedback_poodll.git
	branch = poodll3
[submodule "mod/data/field/poodll"]
	path = mod/data/field/poodll
	url = https://github.com/justinhunt/moodle-mod_data_field_poodll.git
	branch = poodll3
[submodule "question/type/poodllrecording"]
	path = question/type/poodllrecording
	url = https://github.com/justinhunt/moodle-qtype_poodllrecording
	branch = poodll3
[submodule "repository/poodll"]
	path = repository/poodll
	url = https://github.com/justinhunt/moodle-repository_poodll.git
	branch = poodll3
[submodule "lib/editor/atto/plugins/poodll"]
	path = lib/editor/atto/plugins/poodll
	url = https://github.com/justinhunt/moodle-atto_poodll.git
	branch = poodll3
[submodule "lib/editor/tinymce/plugins/poodll"]
	path = lib/editor/tinymce/plugins/poodll
	url = https://github.com/justinhunt/moodle-tinymce_poodll.git
	branch = poodll3
[submodule "question/type/kprime"]
	path = question/type/kprime
	url = https://github.com/ethz-let/moodle-qtype_kprime.git
[submodule "mod/evoting"]
	path = mod/evoting
	url = https://bitbucket.org/cyberlearn/evoting.git
	branch = master
